<footer>
    <div class="footer_lista">
        <ul>
            <li>deportes</li>
            <li>caminatas</li>
            <li>descanso</li>
            <li>competitivo</li>
        </ul>
        <ul>
            <li>Boca Juniors</li>
            <li>River Plate</li>
            <li>San Lorenzo</li>
            <li>Racing</li>
        </ul>
        <ul>
            <li>Futbol</li>
            <li>Handball</li>
            <li>Basquet</li>
            <li>Voley</li>
        </ul>
    </div>
</footer>